.card-img-top {
    width: 100%;
    height: 75vh;
    object-fit: cover;
}

.card-img {
    -webkit-mask-image: linear-gradient(transparent, black);
    mask-image: linear-gradient(transparent, black);
  }